*{margin: 0;padding: 0;}
body{
    /* margin: 10vw; */
    background-image:url(realistic-background.avif);
    background-size:cover;  
    background-repeat:repeat-y;
}
header{
    margin: 0;
    padding: 0;
    z-index: 1;
    object-position: top;
    overflow: hidden;
    position: fixed;
    width:100%;
}
.navbar{
      height: 50px;
      color: white;
      background-color: black;
      border: 5px groove whitesmoke;
      border-radius: 10px;
      padding: 16px;
}
a{
    /* margin-top: 5px; */
    padding-inline: 7.5vw;
    padding-top: 16px;
    float: inline-start;
    font-weight: bolder;
    font-style: italic;
    text-decoration: none;
    color: white;
    margin-left: -34px;
}
a:hover{
      color: white;
      text-decoration:underline;
      transition: 0.3s;
      transition-timing-function:ease-out;
      transform: scale(1.2);
}
.logo{
    font-weight: bold;
    font-size: small;
    float: right;
    border: 5px solid whitesmoke;
    border-radius: 25px;
    padding: 6px;
    margin-right: -10px;
}
.box{
    margin-block: 25vh;
    object-position: center;
    box-shadow: whitesmoke inset 1px 1px 5px;
    width: 60vw;
    height: 65vh;
    border-radius: 10px;
    /* border: 1px solid whitesmoke; */
    background: transparent;
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(5px);
}
h1{
    font-style: italic;
    font-size: xxx-large;
    color: transparent;
    -webkit-text-stroke-color: whitesmoke;
    -webkit-text-stroke-width:medium;
}
input{
    margin: 2vw;
    padding-inline:10px;
    margin-block: 14px;
    height: 40px;
    width: 40vw;
    border-radius: 10px;
}
ul{
    list-style: none;
}
ul.lable li{
    color: white;
    font-weight: 501;
    font-size: large;
    text-align: left;
    margin-block: 40px;
    padding-left: 20px;
}
ol{
    margin-block: 4vh;
    list-style:none ;
}
button{
    margin-block: 2vh;
    font-size: large;
    font-style: italic;
    font-weight: 501;
    width: 20vw;
    height: 5vh;
    border-style: inset;
    border-radius: 8px;
}
