*{margin: 0;
padding: 0;}
header{
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  width:100%;
}
.navbar {
  height: 20px;
  color: white;
  background-color: black;
  border: 5px groove whitesmoke;
  border-radius: 10px;
  padding: 16px;
}
.navbar a {
  margin-inline: 1.5vw;
  font-weight: bolder;
  font-style: italic;
  text-decoration: none;
  color: white;
}
a:hover{
  color: white;
  text-decoration:underline;
  transition: 0.3s;
  transition-timing-function:ease-out;
  transform: scale(1.2);
}
.logo {
  float: inline-end;
}
.logo img {
  font-weight: bold;
  font-size: small;
  border: 5px solid whitesmoke;
  border-radius: 25px;
  padding: 3px;
  margin-top: -2.5vh;
  margin-block-start: -10px;
}

h1 {
    margin-top: 45vh;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 1px 2px 3px;
    font-size: xx-large;
    font-style: italic;
}
#dp{
  float: none;
  display: grid;
  margin-top: 12vh;
  border: 20px silver;
  border-style: double;
  border-radius: 168px;
}
#dp:hover{
  transition: 1s;
  transition-timing-function:ease;
  transform:rotateY(720deg);
}
.links {
  text-align: center;
  max-width: 40vw;
  height: 72vh;
}
.links a {
  color: black;
  margin-inline: 31px;
  padding-block: 6vh;
}
p{
  padding-inline: 10vw;
  text-align: center;
  font-style: italic;
  font-size: small;
  font-weight: 600;
}
.lan a {
  padding-inline: 80px;
  color: black;
  margin-inline: 8px;
  margin-block: 10vh;
}
.lan{
  text-align: center;
  /* max-width: 60vw; */
}
pre{
  float: inline-start;
  font-size:x-large;
  font-weight: 500;
  font-style: italic;
}
.lantext{
  border: 5px solid whitesmoke;
}